---
import BaseLayout from "../../layouts/BaseLayout.astro";
import JornalTabsWithHash from "@/components/jornal/JornalTabsWithHash";
import { getPosts } from "../../lib/jornal/getPosts";
import { authorsMock } from "../../lib/jornal/authors.mock";
import { printedEditionsMock } from "../../lib/jornal/prints.mock";

const posts = await getPosts();
---

<BaseLayout title="Jornal | MNLM">
  <main class="bg-bg py-16">
    ...
    <JornalTabsWithHash
      client:load
      posts={posts}
      authors={authorsMock}
      printedEditions={printedEditionsMock}
    />
  </main>
</BaseLayout>
