<section
    class="mx-auto mt-20 max-w-5xl space-y-2 text-justify p-8 bg-[#fcfcfc] rounded-lg"
>
    <header class="text-center py-6">
        <h2 class="text-3xl font-extrabold">NOSSA VISÃO DE SOCIEDADE</h2>
        <div class="mx-auto mt-3 h-1 w-16 bg-[var(--color-primary)]"></div>
    </header>

    <p>
        O projeto de reforma urbana tem como pressupostos a continuidade do
        crescimento econômico, baseado sob um novo modelo de sistema econômico
        implementado sobre a terra, neste novo modelo de bairros, assentamentos
        humanos, comunidades onde solidariedades e valores humanos apontam a
        vida, onde os espaços coletivos, a terra comunitária, estejam garantidos
        com infraestrutura para o comércio solidário, para as fábricas
        cooperativas, que garantam a geração de trabalho e renda e que de fato
        possa apontar uma nova ordem socioeconômica, que aponte para o
        socialismo podendo assim integrar o campo e a cidade, fortalecendo a
        reforma agrária, o aumento do poder regulador do Estado e a ascensão da
        mobilização política dos movimentos sociais urbanos.
    </p>
    <p>
        Como vimos anteriormente, é pouco provável que haja uma retomada em
        curto prazo do crescimento econômico e a crise orgânica do Estado
        enfraquece a função de planejamento e financiamento públicos. Por outro
        lado, a crise atinge as formas de sociabilidade baseadas na
        solidariedade que emergiram na década de 70, diminuindo a capacidade de
        organização e luta dos movimentos populares.
    </p>
    <p>
        Diante do quadro de mudanças que estarão em curso, reafirmamos que a
        questão urbana brasileira não se qualifica mais pelas desigualdades, mas
        pela exclusão social. Parte da sociedade urbana não tem acesso ao
        mercado de trabalho, a não ser de maneira precária e instável.
    </p>
    <p>
        O chamado setor informal cresceu aceleradamente, ganhando um novo
        conteúdo: a exclusão estrutural das relações de salários. A construção
        de alternativas no campo da reforma urbana sugere a necessidade de
        repensar a centralidade do Estado nas formulações anteriores. Uma
        resposta alternativa à proposta neoliberal deve afirmar a defesa do
        fortalecimento do Estado desenvolvimentista, em crise orgânica, e
        discutir a possibilidade da sociedade, com seus múltiplos sujeitos
        coletivos, gerar novas práticas de gestão da vida nas cidades, a partir
        da construção de um movimento político-cultural pluralista com base no
        ideal de emancipação humana, gerando assim condições para que realmente
        seja incorporado o princípio de direito a uma vida digna para um
        contingente significativo de nossa população.
    </p>

    <div
        class="rounded-xl border-l-4 border-[var(--color-primary)] bg-white p-8 shadow my-8"
    >
        <h3 class="mb-4 text-xl font-bold">O DIREITO A UMA VIDA DIGNA</h3>

        <p>
            Todavia, queremos registrar e devemos interpretar que o direito à
            vida à luz do princípio da dignidade da pessoa humana, deve ser
            postulado em sua verdadeira essência que é o direito a uma vida
            digna. O Estado, para proteger a vida digna, e tê-la como centro de
            sua proteção, precisa ater-se não apenas em punir os atentados à
            vida ou impedir que o seu titular disponha dela, mas sim, deve
            preocupar-se em fornecer as condições necessárias para que a vida de
            seus cidadãos (as) possa se realizar plenamente.
        </p>
        <p>
            Para tanto é preciso que, através de políticas públicas voltadas aos
            excluídos e oprimidos, possibilitando a realização de direitos que
            sejam promotores do direito à vida digna, tais como a saúde, à
            educação, à moradia e ao emprego, permitindo-se a efetivação destes
            direitos e oferecendo condições para que eles se realizem, tornando
            possível que todos (as) de fato tenham uma vida digna.
        </p>
    </div>

    <blockquote class="border-l-4 border-[var(--color-primary)] pl-6 italic text-muted">
        "Este conjunto de reivindicações elencadas neste documento, não tem o
        objetivo de fechar o debate, sabemos que é preciso muito mais. Esta é
        somente a sistematização de questões que avaliamos como prioritárias
        para esse período histórico e espacial, que está por vir. Nesse sentido,
        convocamos as demais organizações dos trabalhadores e trabalhadoras, a
        cerrar fileira nas ruas conosco e a contribuírem para a construção de um
        programa de uma nação soberana, solidária e socialista."
        <footer class="mt-2 text-right font-bold">
            – Movimento Nacional de Luta pela Moradia
        </footer>
    </blockquote>
</section>
