<section class="mx-auto mt-20 max-w-5xl space-y-14 text-justify bg-[#fcfcfc] p-8 rounded-lg">

  <header class="text-center">
    <h2 class="text-3xl font-extrabold">NOSSAS PROPOSTAS E REIVINDICAÇÕES</h2>
    <div class="mx-auto mt-3 h-1 w-16 bg-[var(--color-primary)]"></div>
  </header>

  <div class="rounded-xl border-l-4 border-[var(--color-primary)] bg-white p-8 shadow">
    <h3 class="mb-4 text-2xl font-bold">
      REFERENDO REVOGATÓRIO E CONSTITUINTE
    </h3>

    <p>É preciso aproveitar o calor do debate político entorno das eleições e da candidatura do Presidente Lula, para colocar em pauta os principais problemas que o povo tem vivenciado e realizar um grande processo de mobilização popular, para convocar as massas a intervir na situação. Combater as ilusões fomentadas pela burguesia e pela pequena burguesia no processo eleitoral, na institucionalidade do parlamento e do judiciário, enquanto únicas vias para solucionar os problemas do povo.</p>
    <p>Esses organismos podem ser instrumentos de mediação, desde que a intervenção nos mesmos esteja alicerçada na estratégia de pressão popular, pois o metabolismo do Estado sempre pende a atender as demandas dos ricos. Nesse sentido, há que se colocar em pauta medidas que efetivamente podem restituir os direitos e o patrimônio que foram tomados de assalto com o golpe.</p>
    <p class="mt-4">
      O <strong>Referendo Revogatório</strong> da reforma trabalhista e da previdência, das privatizações, do Programa Casa Verde e Amarela, da Reforma do Ensino Médio, da EC 95, da Lei da Grilagem de Terras, da Lei Antiterrorismo e da Lei de Segurança Nacional, entre outras medidas do golpe, se articulado com uma ampla campanha de rua e de massas, pode ser o pontapé inicial para a reconstrução do Brasil enquanto país soberano.
    </p>
    <p>Esse processo de amplo debate e agitação das massas, deve abrir caminho para o debate sobre uma nova <strong>Assembleia Nacional</strong> Constituinte, que refunde a República no país, tendo como pilar fundante desse processo, a participação ativa dos trabalhadores e trabalhadoras, exercendo o poder político do país e construindo o futuro, sob a bandeira de suas reivindicações.</p>
  </div>

  <div class="rounded-xl border-l-4 border-[var(--color-primary)] bg-white p-8 shadow">
    <h3 class="mb-4 text-2xl font-bold">
      HABITAÇÃO, DESENVOLVIMENTO E REGULARIZAÇÃO FUNDIÁRIA
    </h3>

    <p>A realidade da moradia no Brasil fruto da concentração territorial, densidade demográfica e desinteresse do Governo Federal, recoloca o aumento sistemático do déficit habitacional. Em 2019 já éramos 5,8 milhões de famílias no déficit habitacional quantitativo, e 24 milhões no déficit qualitativo. Ao mesmo tempo a existência de 84% da população, residindo em apenas 0,86% do território nacional e um Governo que apresenta um orçamento de 2021 de 0,0001% para essa dimensão. É uma prova concreta do grave contexto que a vida na periferia se apresenta.</p>
    <p>A destruição da política habitacional que produziu 4,5 milhões de moradias, é comprovada em comparação ao governo atual que entregou apenas 20 mil unidades em 2021. Além disto, foram mais de 3,5 milhões de empregos gerados no setor da construção civil e que foram fechados.</p>

    <h4 class="mt-6 font-bold">Por isso defendemos:</h4>

    <ul class="!list-disc space-y-3 pl-5 marker:text-2xl marker:text-red-600 mt-4">
      <li>Retomada da Moradia como prioridade, com MCMV com subsídio para a população mais vulnerável</li>
      <li>Garantia de que a política habitacional seja operacionalizada pelo FNHIS potencializando assim, o SNHIS</li>
      <li>Priorização da autoconstrução e da autogestão com programas como o MCMV - Entidades</li>
      <li>Garantia de recursos sistemáticos, incluídos na peça orçamentária do governo federal</li>
      <li>Retomada do Programa que destina terra e imóveis Públicos Federais para habitação popular</li>
      <li>Enfrentamento da regulamentação do art. 182 da constituição implementando em nossos Centros Urbanos o direito à moradia</li>
      <li>Implementação da política de enfrentamento dos vazios urbanos através de "OCUPAR E MORAR NO CENTRO É LEGAL"</li>
      <li>Recuperação do acúmulo do debate sobre a Regularização Fundiária desde a constituição de 1988</li>
      <li>Incremento com mais agilidade a regularização fundiária, implementando a regularização administrativa</li>
      <li>Garantia da implantação de infraestrutura essencial, equipamentos e serviços</li>
      <li>Reestatização de todo o setor de saneamento básico</li>
      <li>Política de transporte público com outros modais com tarifa zero</li>
      <li>Retomada do Sistema Nacional de Habitação e das Cidades com a retomada do Ministério das Cidades e do Conselho Nacional das Cidades</li>
    </ul>
  </div>

  <blockquote class="border-l-4 border-[var(--color-primary)] pl-6 italic text-[var(--color-primary)] font-semibold text-lg">
    O Movimento Nacional de Luta pela Moradia reafirma a sua crítica ao fracassado modelo tecnocrático (predomínio da técnica) e autoritário de planejamento. O escopo central é a instituição de um novo padrão de política urbana, fundamentado na gestão democrática da cidade.
  </blockquote>
</section>
